.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  font-size: 5vw;
  text-align: center;
}

.spacer {
  flex-grow: 1;
}

button {
  font-size: 5vw;
  padding: 16px;
}
